@model List<Modelo>

@{
    ViewData["Title"] = "Equipos CSV";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("CargarArch", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<label for="file">Cargar</label>
<input type="file" name="file" id="file" />
<input type="submit" value="Mandar" />
}
<p>
@Html.ActionLink("CargarArch", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Buscar por nombre: @Html.TextBox("nombre")
        <input type="submit" value="Buscar" />
    </p>
}
@if (Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Equipo</td>
                <td>Coach</td>
                <td>Liga</td>
                <td>Fecha</td>
                <td>Request</td>


            </tr>
        </thead>
        @foreach (var equipo in Model)
        {
            <tr>
               <td>@Html.DisplayFor(modelItem => equipo.Equipo)</td>
                <td>@Html.DisplayFor(modelItem => equipo.Coach)</td>
                <td>@Html.DisplayFor(modelItem => equipo.Liga)</td>
                <td>@Html.DisplayFor(modelItem => equipo.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => equipo.RequestId)</td>
                 <td>
            @Html.ActionLink("Edit", "Edit", new { id=equipo.Equipo }) |
            @Html.ActionLink("Details", "Details", new { id=equipo.Coach }) |
            @Html.ActionLink("Delete", "Delete", new { id=equipo.Liga })
              
        </td>
            </tr>
        }   
    </table>
}
