@model List<ErrorViewModel>
@{ 
    ViewData["Title"] = "Equipos";
}

<h2>@ViewData["Title"]</h2>
<p>Teams List</p>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Equipo</td>
            <td>Coach</td>
            <td>Liga</td>
            <td>Fecha</td>
            <td>Request</td>


        </tr>
    </thead>
    @foreach(var equipo in Model)
            {
<tr>
    <td>@equipo.Equipo</td>
    <td>@equipo.Coach</td>
    <td>@equipo.Liga</td>
    <td>@equipo.Fecha</td>
    <td>@equipo.RequestId</td>
</tr>
            }
</table>
